### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [20]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchases = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(purchases)
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [21]:
#to display total # players, we will look at column 'SN'
#accounts for players purchasing multiple items (this is why we can't just use purchase ID)
population = len(df['SN'].value_counts())
population

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
#number of unique items
unique_items = len(df['Item Name'].value_counts())
unique_items

179

In [23]:
#average item price
avg_price = float(df['Price'].mean())
"${:,.2f}".format(avg_price)
avg_price

3.050987179487176

In [24]:
#number purchases 

total_purchases = float(df['Purchase ID'].count())
total_purchases

780.0

In [25]:
#Source for casting as float: 
# https://stackoverflow.com/questions/48070963/typeerror-cant-multiply-sequence-by-non-int-of-type-str/48071241
rev = total_purchases * avg_price
rev

2379.7699999999973

In [26]:
#Formatting lifted from class activity "Mapping"
purchasing_analysis_df = pd.DataFrame(
    {"Number of unique items": [unique_items],
     "Average price": [avg_price],
     "Total number of purchases": [total_purchases],
     "Revenue": [rev]
     })
purchasing_analysis_df['Average price'] = purchasing_analysis_df['Average price'].map("${:.2f}".format)
purchasing_analysis_df['Revenue'] = purchasing_analysis_df['Revenue'].map("${:.2f}".format)

purchasing_analysis_df

   Number of unique items Average price  Total number of purchases   Revenue
0                     179         $3.05                      780.0  $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [85]:
# https://datascience.stackexchange.com/questions/57487/pandas-under-a-column-count-the-total-number-of-a-specific-value-instead-of
gender_grouped = df.groupby('Gender')
genders_df = gender_grouped.nunique()['SN']
genders_df

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [86]:
#for percent we will divide by earlier total # players, * 100.
male_count = genders_df['Male']
female_count = genders_df['Female']
other_count = genders_df['Other / Non-Disclosed']

male_percentage = (male_count / population) * 100
female_percentage = (female_count / population) * 100
other_percentage = (other_count / population) * 100



gender_demographics = pd.DataFrame(
            {"": ['Male', 'Female', 'Other/Non-Disclosed'],
            "Total player count": [male_count, female_count, other_count],
            "Percentage of total population (in %)": [male_percentage, female_percentage, other_percentage]
            }
                        )
gender_demographics

,,Total player count,Percentage of total population (in %)
0,Male,484,84.027778
1,Female,81,14.062500
2,Other/Non-Disclosed,11,1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [106]:
purchase_counts = (df['Gender'].value_counts())
male_purchases = purchase_counts['Male']
male_purchases

652

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80